tqdm==4.66.5
strenum==0.4.15
tiktoken==0.9.0
pyMuPDF==1.25.3
pyyaml==6.0.2
jinja2==3.1.5
alphabet-detector==0.0.7
shapely==2.0.6
latex2mathml==3.77.0
matplotlib==3.10.1
doc-page-extractor==0.1.1
resource-segmentation==0.0.1
langchain[openai]==0.3.21